Repository BF-FrontEnd-class-2025/group-3-HYF, pull requests merged in 2025-01, with the labels that each got.

#2 added project definition
  README.md
Labels: md, planning

#10 added communication plan
  .cspell.json
  planning/communication.md
Labels: md, planning

#11 add constraints
  planning/constraints.md
Labels: md, planning

#12 added backlog
  planning/backlog.md
Labels: md, planning

#13 added user personas
  .cspell.json
  planning/user-personas.md
Labels: bug, planning

#24 add retrospective
  planning/retrospective.md
Labels: md, planning

#25 added development strategy
  planning/development-strategy.md
Labels: md, planning

#26 added announcement bar
  index.html
Labels: html, development

#29 add navbar
  index.html
Labels: css, html, development

#30 intro and stats added
  index.html
Labels: css, html, development

#31 added main section
  index.html
Labels: css, html, development

#32 added footer
  index.html
Labels: css, html, development
